# Should be formatted as https://<hostname> or http://<ip>:<port>
HOST = "https://demo.romm.app"
USERNAME = "demo"
PASSWORD = "demo"
DEFAULT_SD_CARD = 1

# Can be one of genre, franchise, collection, mode or company
COLLECTION_TYPE = collection

# Do not display platforms with these slugs (comma separated)
# EXCLUDE_PLATFORMS=""

# Only display collections with these names (comma separated)
# INCLUDE_COLLECTIONS=""

# Do not display collections with these names (comma separated)
# EXCLUDE_COLLECTIONS=""

# Map RomM slugs to filesystem directories
# For example, if your PlayStation directory is called "psx":
# CUSTOM_MAPS='{"ps": "psx"}'
# CUSTOM_MAPS=''

# Art downloading configuration (muOS only)
# Enable or disable all art downloading
# DOWNLOAD_ART=true

# Configure which RomM art field to download for each art type
# Set to a RomM art field name to download that type, or leave empty/unset to disable
# Common RomM art fields: miximage, box3d, box2d, screenshot, title_screen, wheel, marquee, fanart
# Examples:
#   DOWNLOAD_ART_BOX=miximage    # Download miximage for box art
#   DOWNLOAD_ART_BOX=box3d       # Download box3d for box art
#   DOWNLOAD_ART_PREVIEW=screenshot  # Download screenshot for preview
# DOWNLOAD_ART_BOX=miximage
# DOWNLOAD_ART_PREVIEW=screenshot
# DOWNLOAD_ART_SPLASH=title_screen
